<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="\static\style.css">
    </head>
    <body>
        <body>
            <h2 id="tag">Add Campaign</h2>
        <form action="" method="post">
            <label for="name">Campaign Name:</label>
            <input type="text" id="name" name="name">
            <label for="des">Campaign Description:</label>
            <input type="text" id="des" name="des">
            <label for="category">Category:</label>
            <input type="text" id="category" name="category">
            <label for="budget">Budget:</label>
            <input type="number" id="budget" name="budget">
            <label for="s_date">Start Date:</label>
            <input type="date" id="s_date" name="s_date">
            <label for="e_date">End Date:</label>
            <input type="date" id="e_date" name="e_date">
            <label for="camp_goal">Campaign Goal:</label>
            <input type="text" id="camp_goal" name="camp_goal">
            
           <br><br>
        
            <button type="submit"> Add Campaign</button>
        </form>
        </body>
    </body>
</html>


