<!DOCTYPE html>
<html>
    <head>
        <title>Login Form</title>
        <link rel="stylesheet" href="static\style.css">
    </head>
    <body>
        <div class="login-container">
            <form action="" method="post" >
                <h2>Login Form</h2>
                <label for="usrnm">Enter your Username</label>
                <input id="usrnm" name="username" type="text" placeholder="Username">
                <label for="pwd">Enter your Password</label>
                <input id="pwd" name="password" type="password" placeholder="password">
                <label for="rl">Enter your Role:</label>
                <select name="role" id="rl">
                    <option value="admin">Admin</option>
                    <option value="influencer">Influencer</option>
                    <option value="sponsor">Sponsor</option>
                </select>
                <button type="submit">Submit</button>
                
            </form>
        </div>
        
        
      
    </body>
</html>